<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Resume Analyzer</h1>

    <form action="/analyze" method="POST" enctype="multipart/form-data">

        <input type="file" name="resume" accept=".pdf" required>

        <br><br>

        <button type="submit">Analyze Resume</button>

    </form>

    {% if score is defined %}

    <hr>

    <h2>ATS Score</h2>

    <div class="score">{{ score }}%</div>

    <h2>Skills Found</h2>

    <ul>
        {% for skill in skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>

    <h2>Suggestions</h2>

    <ul>
        {% for item in suggestions %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h2>Extracted Resume Text</h2>

    <div class="text-box">
        {{ text }}
    </div>

    {% endif %}

</div>

</body>
</html>